body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
  max-width: 960px;
  max-height: 960px;
}

.box {
  width: 1x;
  height: 1px;
  border: 1px solid black;
}

.colored {
  background-color: red;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.userInput {
  font-size: 32px;
  font-weight: bolder;
  color: skyblue;
}

input {
  display: flex;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  font-size: 20px;
}

button {
  display: flex;
  margin-top: 10px;
}
